<h2 class="text-center">Weather Status of: <%= @data['name'] %></h2>
<div class="container-fluid px-1 px-md-4 py-5 mx-auto">
  <div class="row d-flex justify-content-center px-3">
    <div class="card" style="background: <%= get_color %>;">
      <h2 class="ml-auto mr-4 mt-3 mb-0"><%= @data['name'] %> (<%= @data['sys']['country'] %>)</h2>
      <p class="ml-auto mr-4 mb-0 med-font"><%= @data['weather'].first['main'] %></p>
        <img class="icon" src="http://openweathermap.org/img/wn/<%= @data['weather'].first['icon']%>@2x.png"/> 
        <h1 class="ml-auto mr-4 large-font"><%= @data['main']['temp'] %>&#176;</h1>
        <p class="time-font mb-0 ml-4 mt-auto"><%= Time.now.strftime("%H:%M")%></p>
        <p class="ml-4 mb-4"><%= Date.today.strftime("%A, %B %d") %></p>
    </div>
  </div>
<h1 class="info text-center" style="color: black;">Some Additional Information</h1><br>
<div class="outer"><br>
  <div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-12 row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Latitude, Longitude:</span>
        <h4><%= @data['coord']['lat'] %>, <%= @data['coord']['lon'] %></h4>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Feels Like:</span>
        <h4><%= @data['main']['feels_like'] %>&#176;</h4>
      </div>
    </div>   
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Minimum Temperature:</span>
        <h4><%= @data['main']['temp_min'] %>&#176;</h4>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Maximum Temperature:</span>
        <h4><%= @data['main']['temp_max'] %>&#176;</h4>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Pressure:</span>
        <h4><%= @data['main']['pressure'] %> <span class="new"> pascal</span></h4>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Humidity:</span>
        <h4><%= @data['main']['humidity'] %><span class="new"> g/m3</span></h4>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Sea Level:</span>
        <h4><%= @data['main']['sea_level'] %><span class="new"> meters</span></h4>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 temp-container" >
      <div class="temp-box">
        <span class="heading">Wind Speed:</span>
        <h4><%= @data['wind']['speed'] %><span class="new"> m/s</span></h4>
      </div>
    </div>
  <div>
</div>